DirectorySlash Off
ErrorDocument 404 /404.php
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^lenta/?$ /voting.php [L]
RewriteRule ^chosen/?$ /voting.php?chosen=1 [L]
RewriteRule ^famous/?$ /voting.php?category=1 [L]
RewriteRule ^casual/?$ /voting.php?category=2 [L]
RewriteRule ^vote/([0-9]+)/?$ /voting.php?id=$1 [L]
RewriteRule ^blog/?$ /blog/bloglist.php [L]
RewriteRule ^blog/([0-9]+)/?$ /blog/blogpost.php?id=$1 [L]
RewriteRule ^category/?$ /category.php [L]
RewriteRule ^terms-of-use/?$ /terms.php [L]
RewriteRule ^about-us/?$ /aboutus.php [L]
RewriteRule ^category/([0-9]+)/?$ /voting.php?category=$1 [L]
RewriteRule ^img/([0-9]+)\.png$ /func/img/pic.php?id=$1 [L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
</IfModule>

